<div class="container">
    <h4><%= status %></h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Kurs</th>
                    <th scope="col">Kod</th>
                    <th scope="col">Poäng</th>
                    <th scope="col">Betyg</th>
                </tr>
            </thead>

            <tbody class="<%= status.toLowerCase() %>">
                <!-- löser problem med att inte kunna droppa till tomma tablebodys. -->
                <tr class="placeholder">
                    <td style="visibility: hidden;"></td>
                </tr>

                <% if(kurser.length !== 0) { %>
                    <% kurser.forEach(kurs => { %>
                        <tr
                        data-toggle="modal" 
                        data-target="#exampleModal"
                        data-kurs= "<%= kurs.kurs %>"
                        data-kod="<%= kurs.typ %>"
                        data-poäng="<%= kurs.poäng %>"
                        data-betyg="<%= kurs.betyg %>"
                        data-merit="<%= kurs.merit %>"
                        data-status="<%= status %>"
                        >
                            <td><%= kurs.kurs %></td>
                            <td><%= kurs.typ %></td>
                            <td><%= kurs.poäng %></td>
                            <td><%= kurs.betyg %></td>
                        </tr>
                    <% }) %>
                <% } %>

            </tbody>
            <tfoot>
                <tr class="empty">
                    <td class="text-center" colspan="4"><button class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i></button></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>