<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <%- include('../partials/bootstrap') %>
</head>

<body class="container">
    <%- include('../partials/header', {'endpoints': {'utbildningar': '/utbildningar'}, 'inloggad': true}) %>

    <div class="row" style="margin-top: 3rem">
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=<%= bild %> alt="profile-image">
                <div class="card-body">
                    <h5 class="card-title"><%= namn %></h5>
                    <!-- Skicka med programmet om det finns innan profil renderas -->
                    <% if (typeof program !== 'undefined' && typeof inriktning !== 'undefined') { %>
                    <h6 class="card-subtitle mb-2 text-muted"><%= program %></h6>
                    <p class="card-subtitle mb-2 text-muted"><%= inriktning %></p>
                    <% } else { %>
                    <h6 class="card-subtitle mb-2 text-muted">Program</h6>
                    <% }%>
                </div>
            </div>
        </div>

        <!-- Visa användarens information-->
        <div class="col">
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">Din utbildning</button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form action="/update/utbildning" method="POST">
                                <!-- Program -->
                                <div class="form-group">
                                    <label for="program">Program</label>
                                    <select name="program" class="form-control" id="program" autocomplete="off">
                                        <option selected disabled hidden>Välj ditt program!</option>
                                        <option>Teknik</option>
                                        <option>Samhällsvetenskap</option>
                                        <option>Naturvetenskap</option>
                                        <option>Ekonomi</option>
                                    </select>
                                </div>

                                <!-- Inriktningar -->
                                <div class="form-group collapse" id="inriktning">
                                    <label for="inriktning">Inriktining</label>
                                    <select name="inriktning" class="form-control" id="inriktningar"></select>
                                </div>

                                <button type="submit" class="btn btn-primary">Spara</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-left" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Sparade utbildningar
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-left" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Inställningar
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br style="margin-top: 3rem;">

    <!-- table partial, passa kurser och status - pågående, avslutad, kommande -->
    <%- include('../partials/table', {status: 'Pågående', kurser: kurser.pågående}) %>
    <%- include('../partials/table', {status: 'Kommande', kurser: kurser.kommande}) %>
    <%- include('../partials/table', {status: 'Avslutade', kurser: kurser.avslutade}) %>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- Kurs -->
                        <div class="form-group">
                            <label for="kurs" class="col-form-label">Kurs</label>
                            <input type="text" class="form-control" id="kurs" required>
                        </div>
                        <!-- Kod -->
                        <div class="form-group">
                            <label for="kod" class="col-form-label">Kod</label>
                            <input type="text" class="form-control" id="kod" required>
                        </div>
                        <!-- Poäng -->
                        <div class="form-group">
                            <label for="poäng">Poäng</label>
                            <select class="form-control" id="poäng" required>
                                <option>50</option>
                                <option>100</option>
                                <option>150</option>
                            </select>
                        </div>
                        <!-- Betyg -->
                        <div class="form-group">
                            <label for="betyg">Betyg</label>
                            <select class="form-control" id="betyg" required>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                                <option>E</option>
                                <option>F</option>
                                <option>Obestämt</option>
                            </select>
                        </div>
                        <!-- Merit -->
                        <div class="form-group">
                            <label for="merit">Merit</label>
                            <select class="form-control" id="merit" required>
                                <option>0</option>
                                <option>0.5</option>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" required>
                                <option>Pågående</option>
                                <option>Kommande</option>
                                <option>Avslutade</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-primary">Spara ändringar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery kollar efter ändringar i program valet. -->
    <script>
        $('#program').on('change', data => {
            const program = $(data.target)[0].value
            const val = {
                'Teknik': [
                    'Teknikvetenskap',
                    'IT-media',
                    'Produktionskunskap',
                    'Design'
                ],
                'Samhällsvetenskap': [
                    'Samhällsvetenskap',
                    'Beteendevetenskap'
                ],
                'Naturvetenskap': [
                    'Naturvetenskap',
                    'Naturvetenskap och samhälle'
                ],
                'Ekonomi': [
                    'Ekonomi'
                ]
            }

            const inriktningar = val[program]

            $('#inriktningar').empty()
            inriktningar.forEach(inriktning => {
                $('#inriktningar').append('<option>' + inriktning + '</option>')
            })
            $('#inriktning').collapse('show')
        })
    </script>

    <!-- Skickar att kursens status har ändrats -->
    <script>
        $('tbody').sortable({
            distance: 5,
            delay: 100,
            opacity: 0.6,
            helper: 'clone',
            tolerance: 'pointer',
            cursor: 'move',
            items: 'tr:not(.placeholder)',
            connectWith: 'tbody',
            axis: 'y',
            receive: (event, ui) => {
                // Skicka post
                const ogstatus = $(ui.sender).attr("class").split(' ')[0]
                const nystatus = $(ui.item).parent().attr("class").split(' ')[0]
                const kurs = $(ui.item).children(':first').text().trim()

                const data = {
                    og: ogstatus,
                    ny: nystatus,
                    kurs: kurs
                }

                $.post('/update/status', data)
            }
        })
    </script>

    <!-- Visar kursens information i modalen  -->
    <script>
        $('#exampleModal').on('show.bs.modal', event => {
            const trigger = $(event.relatedTarget)

            // Extract info from data-* attributes
            const kurs = trigger.data('kurs')
            const kod = trigger.data('kod')
            const poäng = trigger.data('poäng')
            const betyg = trigger.data('betyg') || 'Obestämt'
            const merit = trigger.data('merit')
            const status = trigger.data('status')

            const modal = $(event.target)

            modal.find('.modal-title').text('Ändra kursen: ' + kurs)

            modal.find('.modal-body #kurs').val(kurs)
            modal.find('.modal-body #kod').val(kod)
            modal.find('.modal-body #poäng').val(poäng)
            modal.find('.modal-body #betyg').val(betyg)
            modal.find('.modal-body #merit').val(merit)
            modal.find('.modal-body #status').val(status)
        })
    </script>

</body>

</html>