<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <%- include('../partials/bootstrap') %>
</head>

<body class="container">
    <%- include('../partials/header', {'endpoints': {'utbildningar': '/utbildningar'}, 'inloggad': true}) %>

    <div class="row" style="margin-top: 3rem">
        <div class="col d-flex">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=<%= bild %> alt="profile-image">
                <div class="card-body">
                    <h5 class="card-title"><%= namn %></h5>
                    <!-- Skicka med programmet om det finns innan profil renderas -->
                    <% if (typeof program !== 'undefined' && typeof inriktning !== 'undefined') { %>
                    <h6 class="card-subtitle mb-2 text-muted"><%= program %></h6>
                    <p class="card-subtitle mb-2 text-muted"><%= inriktning %></p>
                    <% } else { %>
                    <h6 class="card-subtitle mb-2 text-muted">Program</h6>
                    <% }%>
                </div>
            </div>
        </div>

        <!-- Visa användarens information-->
        <div class="col">
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-left" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">Din utbildning</button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form action="/update" method="POST">

                                <!-- Program -->
                                <div class="form-group">
                                    <label for="program">Program</label>
                                    <select name="program" class="form-control" id="program" autocomplete="off">
                                        <option selected disabled hidden>Välj ditt program!</option>
                                        <option>Teknik</option>
                                        <option>Samhällsvetenskap</option>
                                        <option>Naturvetenskap</option>
                                        <option>Ekonomi</option>
                                    </select>
                                </div>

                                <!-- Inriktningar -->
                                <div class="form-group collapse" id="inriktning">
                                    <label for="inriktning">Inriktining</label>
                                    <select name="inriktning" class="form-control" id="inriktningar"></select>
                                </div>

                                <button type="submit" class="btn btn-primary">Spara</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-left" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Sparade utbildningar
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-left" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Inställningar
                            </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 3rem;">
        <div class="col" id="pung">
    </div>
    </div>

    <script>
        $('#program').on('change', data => {
            const program = $(data.target)[0].value
            const val = {
                'Teknik': [
                    'Teknikvetenskap',
                    'IT-media',
                    'Produktionskunskap',
                    'Design'
                ],
                'Samhällsvetenskap': [
                    'Samhällsvetenskap',
                    'Beteendevetenskap'
                ],
                'Naturvetenskap': [
                    'Naturvetenskap',
                    'Naturvetenskap och samhälle'
                ],
                'Ekonomi': [
                    'Ekonomi'
                ]
            }

            const inriktningar = val[program]

            $('#inriktningar').empty()
            inriktningar.forEach(inriktning => {
                $('#inriktningar').append('<option>' + inriktning + '</option>')
            })
            $('#inriktning').collapse('show')
        })
    </script>

    <!-- Include react -->
    <%- include('../partials/react') %>
    <!-- My components -->
    <%- include('../components/table') %>
</body>

</html>