<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <%- include('../partials/bootstrap') %>
</head>

<body class="container">
    <%- include('../partials/header', {'endpoints': {'utbildningar': '/utbildningar'}, 'inloggad': true}) %>

    <div class="row" style="margin-top: 3rem">
        <div class="col d-flex">
            <%- include('../partials/mugshot', {'bild': bild, 'namn': namn}) %>
        </div>

        <!-- Visa användarens information-->
        <div class="col">
            <%- include('../partials/personalization') %>
        </div>

    </div>


</body>

</html>