<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">
    <%- include('../partials/header', {'endpoints': {'profil': '/profil', 'utbildningar': '/utbildningar'}, 'inloggad': true}) %>

    <div class="row" style="margin-top: 3rem">
        <div class="col d-flex">
            <%- include('../partials/mugshot', {'bild': bild, 'namn': namn, 'program': 'Teknik'}) %>
        </div>

        <!-- Visa användarens information-->
        <div class="col rounded" >
            <%- include('../partials/utbildning') %>
        </div>

    </div>



    <%- include('../partials/bootstrap') %>
</body>

</html>